@import url("default.css");

.bg-hero {
  background: url("../img/all-img/header-background.png") !important;
  background-repeat: no-repeat !important;
  background-position: 100% 100% !important;
  height: 1020px !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #ffffff !important;
}

.btn-primary {
  color: #fff;
  background-color: #084790;
  border-color: #084790;
  opacity: 0.7;
}

.btn-primary:hover {
  color: #fff;
  background-color: #084790;
  border-color: #084790;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--red);
  font-weight: 700;
}

@media (min-width: 768px) {
  .bg-orange-r {
    background: url("../img/all-img/rectangle-right.png") !important;
    background-repeat: no-repeat !important;
    background-position: 100% 100% !important;
    height: 38rem !important;
  }

  .bg-orange-l {
    background: url("../img/all-img/rectangle-left.png") !important;
    background-repeat: no-repeat !important;
    background-position: 0% 100% !important;
    height: 41rem !important;
    margin: 15rem 0px !important;
  }

  .h-25rem {
    height: 25rem !important;
  }
}

@media (min-width: 992px) {
  .bg-o-r-half {
    background: url("../img/all-img/rectangle-r-half.png") !important;
    background-repeat: no-repeat !important;
    background-position: 100% 100% !important;
    height: 42rem !important;
  }

  .c-88-m {
    color: #888d96 !important;
  }

  .c-2e-m {
    color: #2e2e2e !important;
  }

  .nav-item.d-flex.align-items-center {
    display: flex !important;
  }
}

.bg-orange-r {
  background: var(--orange);
  height: 100rem;
}

.bg-orange-l {
  background: var(--orange);
  height: 95rem;
  margin: 5rem 0px;
}

.bg-o-r-half {
  background: var(--orange);
  height: 45rem;
}

.c-88-m {
  color: #ffffff;
}

.c-2e-m {
  color: #ffffff;
}

.nav-item.d-lg-flex.align-items-center {
  display: none;
}

.h-29rem {
  height: 29rem;
}

.h-25rem {
  height: 53rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2e2e;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ffffff00;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--orange);
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff00;
  border: 0px solid #ffffff00;
  border-radius: 0;
}

.form-control:focus {
  color: #2e2e2e;
  background-color: #fff;
  border: 0px solid var(--orange);
  outline: 0;
  box-shadow: 0 0 0 0.15rem #f36b492c;
}

.position-relative-t-44 {
  position: relative;
  top: -44px;
}

.max-h-130 {
  max-height: 130px;
  overflow-y: auto;
}

.bg-primary {
  background-color: var(--orange) !important;
}

::-webkit-resizer {
  display: none;
}

.navbar-sticky {
  position: sticky;
  top: 0px;
  z-index: 999;
}

/* div {
  position: relative;
  animation: myfirst 10s ease-in-out 2ms;
}

@keyframes myfirst {
  0% {
    left: -200px;
  }
  25% {
    left: 0px;
  }
} */

.card-own {
  border: 0px solid #00000020 !important;
}

.nav-link {
  color: var(--c-2e);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e0020c;
  border-radius: 10px;
}

.nav.nav-pills {
  height: 4rem;
  background: aliceblue;
  border-radius: 8px;
}

.bg-download {
  background: var(--c-08);
  border-radius: 25px;
}

.app-screen-img {
  max-width: 248px !important;
  height: 511px !important;
  height: auto;
  -webkit-box-shadow: 0px 4px 21px rgb(79 124 238 / 25%);
  box-shadow: 0px 4px 21px rgb(79 124 238 / 25%);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  margin-top: 9px;
  margin: auto;
}

.frame-phone {
  width: 290px !important;
  height: 545px !important;
  position: absolute;
  top: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.owl-carousel > .owl-nav {
  display: none;
}

@media (min-width: 768px) {
  .bg-hero {
    background: url("../img/all-img/header-background.png") !important;
    background-repeat: no-repeat !important;
    background-position: 100% 100% !important;
    height: 730px !important;
  }
  .owl-carousel > .owl-nav {
    display: block !important;
    position: relative;
    top: -18rem;
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #006bff !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .owl-carousel .owl-nav button.owl-prev {
    position: relative;
    right: 10rem;
  }

  .owl-carousel .owl-nav button.owl-next {
    position: relative;
    left: 10rem;
  }

  .arrow {
    color: white;
    font-size: 25px;
  }
}
